<% if obj.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h2> The <%= obj.class.name.downcase %> was not saved due to the following
      <%= pluralize(obj.errors.count, "error") %>:
    </h2>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
