<div class="home col d-flex flex-column justify-content-center align-items-center pt-4 text-white font-weight-bolder">
  <section class="slogan mb-5 text-center">
    <span><i class="fas fa-brain fa-2x"></i></span>

    <h3 class="mt-4">Learn in public, inspire others and grow together.</h3>
  </section>

  <section class="join">
    <h6 class="mb-3">Join the Learner community today.</h6>

    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-block mb-3 rounded-pill btn-bg" %>

    <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-block rounded-pill" %>
  </section>
</div>
