<% if @users_to_follow.empty? %>
  <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header h-100">Congrats! You're a community trailblazer!</div>
    <div class="card-body">
      <p class="card-text">This also means there are no other new learners for you to follow. Bear with us. There'll be millions to follow soon. Help us spread the word!</p>
    </div>
  </div>
<% end %>
