$mvp-blue: rgb(29, 161, 242);
$mvp-black: #192734;
$mvp-grey: #6B7D8C;
$input-width: 60%;

@import "bootstrap";

.overall-wrap {
  .nav-main-wrap,
  .welcome {
    height: 90%;
  }

  .footer {
    height: 10%;

    span {
      line-height: 58px;
      color: $mvp-grey;
    }
  }

  .welcome {
    background: $mvp-blue;
    font-size: 20px;

    .home-link {
      top: 5px;
      left: 5px;
    }
  }

  .nav-main-wrap,
  .footer {
    border: 0 solid #000;
    background: $mvp-black;
  }

  .home {
    height: calc(100vh - 10vh);

    .btn:first-of-type {
      background: $mvp-blue;
      color: #fff;
    }

    .btn:last-child {
      background: $mvp-black;
      border-color: $mvp-blue;
      color: $mvp-blue;
    }
  }

  .log-in {
    height: calc(100vh - 10vh);

    form {
      width: $input-width;
    }
  }

  .sign-up {
    height: calc(100vh - 10vh);

    form {
      width: $input-width;
    }
  }

  .errors {
    left: -340px;
    top: 0;
  }

  .flash {
    // top: 0;
    right: 0;
  }
}

.home .join .btn:hover,
.welcome .home-link:hover {
  background: darken($mvp-blue, 10%);
}
