<!--<p class="notice"><%# notice %></p>
<p class="alert"><%# alert %></p>-->

<% if notice.present? %>
  <div class="flash alert alert-info alert-dismissible fade show position-absolute" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if alert.present? %>
  <div class="flash alert alert-danger alert-dismissible fade show position-absolute" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
