<nav class="top-nav col-12 d-flex align-items-center justify-content-between pr-3">
  <%= link_to(progress_updates_path) { icon('fas', 'brain', class: 'text-white') } %>

  <div class="socials d-flex justify-content-end">
    <a class="ml-4" href="#"><i class="fas fa-pen-alt"></i></a>
    <a class="ml-4" href="#"><i class="fas fa-envelope"></i></a>
    <a class="ml-4" href="#"><i class="fas fa-search"></i></a>
    <a class="ml-4" href="#"><i class="fas fa-cog"></i></a>
  </div>
</nav>
