<nav class="col-12 navbar navbar-expand-lg pr-3 pl-4 navbar-light shadow-sm">
  <%= link_to(progress_updates_path, class: 'navbar-brand') { icon('fas', 'brain', class: 'text-white') } %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link ml-4" href="#"><i class="fas fa-pen-alt"></i></a>
      <a class="nav-item nav-link ml-4" href="#"><i class="fas fa-envelope"></i></a>
      <a class="nav-item nav-link ml-4" href="#"><i class="fas fa-search"></i></a>
      <a class="nav-item nav-link ml-4" href="#"><i class="fas fa-cog"></i></a>
    </div>
  </div>
</nav>
