<section class="welcome">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fas fa-marker"></i> Share your learning journey</li>
    <li class="list-group-item"><i class="fab fa-leanpub"></i> Learn from others</li>
    <li class="list-group-item"><i class="fas fa-search"></i> Search for subjects of interest</li>
  </ul>
</section>
