<section class="welcome col-6 d-flex justify-content-center align-items-center text-white font-weight-bolder">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-transparent border-0"><i class="fas fa-marker mr-3"></i> Share your learning journey</li>
    <li class="list-group-item bg-transparent border-0 mt-3"><i class="fab fa-leanpub mr-3"></i> Learn from others</li>
    <li class="list-group-item bg-transparent mt-3"><i class="fas fa-search mr-3"></i> Search for subjects of interest</li>
  </ul>
</section>
